<a href="https://colab.research.google.com/github/jackschmell/Baseball-AI/blob/main/comparative_analysis_of_the_Houston_Astros'_hitting_statistics_between_the_2017_and_2016_seasons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  comparative analysis of the Houston Astros' hitting statistics between the 2017 and 2016 seasons

Setup : Import necessary packages

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Load data from CSV files
df2017 = pd.read_csv('/FanGraphs Leaderboard (1).csv')
df2016 = pd.read_csv('/FanGraphs Leaderboard (2).csv')

In [ ]:
df2017 # 2017 Astros team batting stats

,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
0,HOU,6271,8.1%,17.3%,0.47,0.282,0.346,0.478,0.823,0.196,4.5,0.309,3.2,-1.6,-2.0,911,146.8,0.349,121

In [ ]:
df2016 # 2016 Astros team batting stats

,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
0,HOU,6204,8.9%,23.4%,0.38,0.247,0.319,0.417,0.735,0.17,4.5,0.298,-0.3,-4.3,-0.8,724,-7.4,0.317,101

In [ ]:
# compute the differences in the 2017 and 2016 batting stats

diff_avg = df2017['AVG'].iloc[0] - df2016['AVG'].iloc[0]
diff_ops = df2017['OPS'].iloc[0] - df2016['OPS'].iloc[0]
diff_slg = df2017['SLG'].iloc[0] - df2016['SLG'].iloc[0]
diff_woba = df2017['wOBA'].iloc[0] - df2016['wOBA'].iloc[0]
diff_wrc = df2017['wRC'].iloc[0] - df2016['wRC'].iloc[0]
diff_babip = df2017['BABIP'].iloc[0] - df2016['BABIP'].iloc[0]
diff_wraa = df2017['wRAA'].iloc[0] - df2016['wRAA'].iloc[0]

In [ ]:
# Print out the differences

print("Difference in AVG: {:.3f}".format(diff_avg))
print("Difference in OPS: {:.3f}".format(diff_ops))
print("Difference in SLG: {:.3f}".format(diff_slg))
print("Difference in wOBA: {:.3f}".format(diff_woba))
print("Difference in wRC: {:.3f}".format(diff_wrc))
print("Difference in BABIP: {:.3f}".format(diff_babip))
print("Difference in wRAA: {:.3f}".format(diff_wraa))

Difference in AVG: 0.035
Difference in OPS: 0.088
Difference in SLG: 0.061
Difference in wOBA: 0.032
Difference in wRC: 187.000
Difference in BABIP: 0.011
Difference in wRAA: 154.200